@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins !important;
  font-size: 12px !important;
  margin: 0;
  padding: 0;
  color: #333;
  width: 100vw;
  background-color: #f4f4f4;
  -ms-overflow-style: none;
  overflow: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.carousel {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 5%;
  width: 1600px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.carousel .list .item .des {
  font-size: 17px;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.item:nth-child(1) .content .title,
.item:nth-child(1) .content .topic,
.item:nth-child(1) .content .des {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.4s 0s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.thumbnail {
  position: absolute;
  bottom: 45%;
  left: 62.5%;
  width: 1600px;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#energy1, #energy2, #energy3, #energy4 {
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 8px 8px rgba(122, 123, 131, 0.37);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#energy1:hover, #energy2:hover, #energy3:hover, #energy4:hover {
  scale: 1.03;
  box-shadow: 0 0 4px 4px rgba(122, 123, 131, 0.37);
}

#glassbackground {
  content: "";
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 30px;
  border: 1px solid rgba(75, 87, 219, 0.18);
  background: rgba(109, 162, 255, 0.681);
  box-shadow: 0 8px 32px 0 rgba(47, 56, 178, 0.37);
  height: 234px;
  width: 158px;
  transform: translateX(-684px) translateY(-7px);
  z-index: -1;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#glassbackground.on1 {
  transform: translateX(-684px) translateY(-5px);
  background: rgba(109, 162, 255, 0.681);
}

#glassbackground.on2 {
  transform: translateX(-514px) translateY(-5px);
  background: rgba(184, 162, 65, 0.681);
}

#glassbackground.on3 {
  transform: translateX(-345px) translateY(-5px);
  background: rgba(49, 131, 230, 0.681);
}

#glassbackground.on4 {
  transform: translateX(-174px) translateY(-5px);
  background: rgba(111, 109, 98, 0.681);
}

.arrows {
  position: absolute;
  top: 57.5%;
  left: 75%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  border: none;
  opacity: 0.85;
  color: black;
  transition: 0.5s;
  font-size: 50px;
  font-family: 'Poppins';
  cursor: pointer;
}

main {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .carousel .list .item .title,
  .carousel .list .item .topic {
    font-size: 3em;
  }

  .thumbnail {
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
  }

  .arrows {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    width: 80%;
  }
}