
.offcanvas {
    background-color: #CAE7DF !important;
}

.btn-champ {
    background-color: #f7e7ce !important;
    margin-right: 0.001%;
    border: none;
}

.navbar-expand-lg .navbar-toggler {
    display: none;
}

.navbar-expand-lg .collapse {
    display: flex !important;
}

.btn-close-champ {
    color: black;
}

.vl {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 3vh;
    left: 1;
}

.font {
    font-family: 'Roboto Condensed', sans-serif;
}

div.scrollmenu {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    scroll-snap-type: y;
}

.product {
    scroll-snap-align: start;
}

.carousel-inner {
    background-color: white;
}

.inline {
    display: flex;
}

/* Remove fixed positioning from .body-div to allow scrolling and prevent footer overlap */
.body-div {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    height: auto;
    left: unset;
    transform: none;
    overflow-y: visible;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.not-button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
#form-masuk {
    display: none;
    width: 50%;
    min-width: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
.close-button {
    padding: 0;
    border: none;
    background: none;
    width: 18%;
    height: 18%;
    color: #bdb2b2;
    max-width: 50px;
    max-height: 50px;
}
#selected {
    border: none;
    border-bottom: 4px solid #f7e7ce;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 3%;
}
#not {
    border: none;
    border-bottom: 4px solid #dedede;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 3%;
}
.masuk {
    width: 48%;
    margin-right: 2%;
}
.daftar {
    width: 48%;
    margin-left: 2%;
}

.rsd {
    font-size: 4.5vw !important
 }
 @media screen and (min-width: 520px) {
    .rsd {
       font-size: 24px !important
    }
  }
  
.div-kiri {
    width: 94%;
    margin-left: 3%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.productImage {
    background-color: rgb(221, 222, 223) !important;
}
/* .buyFooter is for floating buy bar, not the main footer. No change needed unless it overlaps. */
.btn-champ {
    background-color: #f7e7ce !important;
    margin-right: 0.001%;
    border: none;
}
/* .cart-icon is for floating cart, not the main footer. No change needed unless it overlaps. */